.container{
    width: 1140px;
    margin: auto;
}
:root {
    --links-nav-color: #726E8D;
    --dark-primary: #2A254B;
    --font-open-spans: Open Sans;
    --font-monterrat: Montserrat;
}
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.top-nav a {
    color: #22202E;
    font-size: 24px;
    font-family: var(--font-monterrat), sans-serif;
}
.main-links {
    display: flex;
    text-align: center;
}
.main-links li a {
    color: var(--links-nav-color);
    font-size: 16px;
    font-family: var(--font-open-spans), sans-serif;
    padding-left: 44px;
}
.side-icon1 {
    display: inline-block;
    padding-left: 16px;
    background-image: url("img/Search.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.side-icon2 {
    display: inline-block;
    padding-left: 16px;
    background-image: url("img/Shopping--cart.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.side-icon3 {
    display: inline-block;
    padding-left: 16px;
    background-image: url("img/User--avatar.svg");
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.header-border {
    border-bottom: 1px solid #EBE8F4;
    margin-bottom: 80px;
}
.selection {
    display: flex;
    width: 1280px;
    height: 64px;
    align-items: center;
}
.title {
    color: var(--dark-primary);
    font-size: 36px;
    font-family: var(--font-monterrat), sans-serif;
    font-weight: 400;
    text-align: center;
    padding-bottom: 24px;
}
.page-headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}
.filters {
    display: flex;
}
.select-list {
    display: flex;
    margin: 0 24px;
}
.sorting{
    display: flex;
    align-items: center;
}
.listings {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 426px;
    grid-column-gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.listing img {
    width: 270px;
    padding-bottom: 24px;
}
.listing h3 {
    color: var(--dark-primary);
    font-size: 20px;
    font-family: var(--font-monterrat), sans-serif;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}
.listing p {
    color: var(--dark-primary);
    font-size: 18px;
    font-family: var(--font-open-spans), sans-serif;
    font-weight: 400;
    line-height: 27px;
}
.medium-btn {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.medium-button {
    display: flex;
    justify-content: center;
    background-color: lightgray;
}
.medium-button a {
    color: var(--dark-primary);
    font-size: 16px;
    font-family: var(--font-open-spans), sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 16px 32px;
}
.sign-up {
    display: flex;
    justify-content: space-between;
}
.info-content {
    display: flex;
    flex-direction: column;

}
.info-content h2 {
    color: var(--dark-primary);
    font-size: 32px;
    font-family: var(--font-monterrat), sans-serif;
    font-weight: 400;
    padding: 71px 100px 22px 49px;
}
.info-content p {
    color: var(--dark-primary);
    font-size: 16px;
    font-family: var(--font-open-spans), sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding-right: 180px;
    padding-left: 49px;
    padding-bottom: 216px;
}
.btn-signup {
    width: 120px;
    height: 56px;
    background-color: var(--dark-primary);
    margin-left: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-signup a {
    color: white;
    font-size: 16px;
    font-family: var(--font-open-spans), sans-serif;
    font-weight: 400;
    line-height: 24px;
}
footer {
    background-color: var(--dark-primary);
    height: 420px;
    width: 100%;
}
.footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.footer-info ul {
    margin-top: 54px;
}
.footer-info ul li {
    padding-bottom: 12px;
}
.footer-info ul li a h3 {
    color: white;
    font-size: 16px;
}
.footer-info ul li a {
    color: white;
    font-size: 14px;
    font-family: var(--font-open-spans), sans-serif;
    font-weight: 400;
    padding-bottom: 12px;
}
.footer-info img {
    margin-top: 54px;
}
.line-footer {
    border-bottom: 1px solid #4E4D93 ;
    margin-bottom: 24px;
}
.copyright {
    color: white;
    font-size: 14px;
    font-family:  var(--font-open-spans), sans-serif;
    font-weight: 400;
    display: flex;
}
.under-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-icons a img {
    padding-right: 24px;
}

